<link rel="import" href="../polymer/polymer.html">

<dom-module id="jongeneel-data-cart">

  <template>
  </template>

  <script>
    Polymer({
      is: 'jongeneel-data-cart',

      properties: {
        data: {
          type: Array,
          notify: true
        },
      },

      observers: [
        '_loadData()'
      ],

      ready: function(){
        this._loadData();
      },

      _loadData: function () {
        console.log('load data')

        var opts = {
          credentials: 'include'
        };

        fetch('/api/cart/', opts)
          .then(function (res) {
            return res.json();
          })
          .then(function (data) {
            this.set('data', data);
          }.bind(this))
      }
    });
  </script>

</dom-module>