<link rel="import" href="polymer/polymer.html">

<link rel="import" href="iron-icons/iron-icons.html">
<link rel="import" href="paper-icon-button/paper-icon-button.html">

<link rel="import" href="app-route/app-location.html">
<link rel="import" href="app-route/app-route.html">

<link rel="import" href="iron-pages/iron-pages.html">


<link rel="import" href="jongeneel-layout.html">

<link rel="import" href="jongeneel-page/jongeneel-page-products.html">
<link rel="import" href="jongeneel-page/jongeneel-page-home.html">


<dom-module id="jongeneel-app">


  <template>

    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{tail}}">

    <jongeneel-layout>
      <iron-pages
              selected="[[routeData.page]]"
              attr-for-selected="name"
              fallback-selection="view404"
              role="main">

        <jongeneel-page-home name="home"></jongeneel-page-home>
        <jongeneel-page-products name="products"></jongeneel-page-products>

      </iron-pages>

    </jongeneel-layout>
  </template>

  <script>
    Polymer({
      is: 'jongeneel-app',

      properties: {
        page: {
          type: String,
          value: "home"
        }
      }
    });
  </script>
</dom-module>