<link rel="import" href="polymer/polymer.html">

<link rel="import" href="paper-input/paper-input.html">
<link rel="import" href="paper-button/paper-button.html">

<link rel="import" href="jongeneel-data-products-search.html">
<link rel="import" href="jongeneel-list-products.html">

<dom-module id="jongeneel-page-products">

  <style>

    .search {
      display: flex;
      flex-direction: row;
      margin: 0 16px;
      margin-bottom: 20px;
    }

    .search paper-input {
      flex-grow: 1;
    }

  </style>
  <template>

    <div class="search">
      <paper-input value="{{q}}"></paper-input>
      <paper-button>Search</paper-button>
    </div>

    <jongeneel-data-products-search q="[[q]]" data="{{data}}" count="{{count}}"></jongeneel-data-products-search>
    <jongeneel-list-products products="[[data]]" count="[[count]]"></jongeneel-list-products>

  </template>

  <script>
    Polymer({
      is: 'jongeneel-page-products',

      properties: {
        q: {
          type: String,
          value: "Hout"
        }
      },
    });
  </script>

</dom-module>