<link rel="import" href="polymer/polymer.html">

<link rel="import" href="paper-card/paper-card.html">

<dom-module id="jongeneel-list-products">

  <style>

    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .item {
      width: 33%;
      margin-bottom: 16px;
    }

    @media (max-width: 900px) {
      .grid {
        flex-direction: row;
      }
      .item {
        width: 50%;
        padding: 0;
      }
    }

    @media (max-width: 400px) {
      .grid {
        flex-direction: column;
      }
      .item {
        width: 100%;
        padding: 0;
      }
    }

    paper-card {
      width: 100%;
    }

    .count{
      margin: 0 16px;
      margin-bottom: 20px;
    }
    .card-header {
      padding: 0 16px;
      height: 2em;
    }

    .card-content {
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
      height: 1em;
    }
  </style>
  <template>

    <div class="count">Aantal producten [[count]]</div>

    <div class="grid">
      <template is="dom-repeat" items="[[products]]">
        <div class="item">
          <paper-card image="{{_getImage(item)}}" image-height="200">
            <div class="card-header">[[item.title]]</div>
            <div class="card-content">
              [[item.text]]
            </div>
          </paper-card>
        </div>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'jongeneel-list-products',

      properties: {
        count: {
          type: String,
        },
        products: {
          type: Array,
        }
      },

      _getImage: function (item) {
        return "https://www.jongeneel.nl/" + item.image
      }
    });
  </script>

</dom-module>