<link rel="import" href="polymer/polymer.html">

<link rel="import" href="iron-icons/iron-icons.html">
<link rel="import" href="paper-icon-button/paper-icon-button.html">

<link rel="import" href="app-layout/app-drawer/app-drawer.html">
<link rel="import" href="app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="app-layout/app-header/app-header.html">
<link rel="import" href="app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="paper-input/paper-input.html">
<link rel="import" href="paper-button/paper-button.html">

<link rel="import" href="jongeneel-list-products.html">
<link rel="import" href="jongeneel-data-products-search.html">


<dom-module id="jongeneel-app">

  <style>

    .main {
      margin: 0 auto;
    }

    .content {
      width: 1200px;
      margin: 0 auto;
    }

    .search{
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 0 16px;
      margin-bottom: 20px;
    }

    .search paper-input{
      flex-grow: 1;
    }

    @media (max-width: 600px) {
      .content {
        width: 100%;
      }
    }

  </style>

  <template>

    <div class="main">


      <app-header condenses reveals effects="waterfall">
        <div class="content">
          <app-toolbar>
            <paper-icon-button icon="menu" onclick="startDrawer.toggle()"></paper-icon-button>
            <div main-title></div>
            <paper-icon-button icon="shopping-cart" onclick="endDrawer.toggle()"></paper-icon-button>
          </app-toolbar>
          <app-toolbar>
            <div>Jongeneel App</div>
          </app-toolbar>
        </div>
      </app-header>

      <div class="content">

        <div class="search">
          <paper-input value="{{q}}"></paper-input>
          <paper-button>Search</paper-button>
        </div>

        <jongeneel-data-products-search q="[[q]]" data="{{data}}" count="{{count}}"></jongeneel-data-products-search>
        <jongeneel-list-products products="[[data]]" count="[[count]]"></jongeneel-list-products>
      </div>

      <app-drawer id="startDrawer" align="start"></app-drawer>
      <app-drawer id="endDrawer" align="end"></app-drawer>


    </div>
  </template>

  <script>
    Polymer({
      is: 'jongeneel-app',

      properties: {
        q:{
          type: String,
          value: "Hout"
        }
      }
    });
  </script>
</dom-module>