<link rel="import" href="polymer/polymer.html">

<link rel="import" href="app-layout/app-drawer/app-drawer.html">
<link rel="import" href="app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="app-layout/app-header/app-header.html">
<link rel="import" href="app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="paper-icon-button/paper-icon-button.html">

<link rel="import" href="jongeneel-layout-menu.html">

<dom-module id="jongeneel-layout">

  <style>

    .title {
      text-align: center;
    }

    .title img {
      margin: 0 auto;
    }

    .main {
      margin: 0 auto;
    }

    .content {
      width: 1200px;
      margin: 0 auto;
    }

    .menu {
      display: none;
    }

    .logo {
      height: 50px;
    }

    .show-small {
      display: none;
    }

    .show-large {
      display: block;
    }

    @media (max-width: 600px) {
      .menu {
        display: block;
      }

      .show-small {
        display: block;
      }

      .show-large {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      .content {
        width: 100%;
      }
    }

  </style>

  <template>

    <div class="main">


      <app-header condenses reveals shadow effects="waterfall">
        <div class="content">
          <app-toolbar>
            <img class="logo show-large" title="Houthandel Jongeneel"
                 src="https://www.jongeneel.nl/medias/?context=bWFzdGVyfHJvb3R8MTA1NjF8aW1hZ2UvcG5nfGg5Ny9oOGYvODgxNDQ3NzQxMDMzNC5wbmd8LQ"
                 alt="Houthandel Jongeneel">
            <paper-icon-button class="menu" icon="menu" onclick="startDrawer.toggle()"></paper-icon-button>
            <div main-title class="title">
              <img class="logo show-small" title="Houthandel Jongeneel"
                   src="https://www.jongeneel.nl/medias/?context=bWFzdGVyfHJvb3R8MTA1NjF8aW1hZ2UvcG5nfGg5Ny9oOGYvODgxNDQ3NzQxMDMzNC5wbmd8LQ"
                   alt="Houthandel Jongeneel">
            </div>
            <paper-icon-button icon="shopping-cart" onclick="endDrawer.toggle()"></paper-icon-button>
          </app-toolbar>

          <jongeneel-layout-menu stick class="show-large"></jongeneel-layout-menu>

        </div>
      </app-header>

      <div class="content">
        <content></content>
      </div>

      <app-drawer id="startDrawer" align="start">
        <app-toolbar>
          <img class="logo" title="Houthandel Jongeneel"
               src="https://www.jongeneel.nl/medias/?context=bWFzdGVyfHJvb3R8MTA1NjF8aW1hZ2UvcG5nfGg5Ny9oOGYvODgxNDQ3NzQxMDMzNC5wbmd8LQ"
               alt="Houthandel Jongeneel">
        </app-toolbar>
        <jongeneel-layout-menu class=""></jongeneel-layout-menu>
      </app-drawer>
      <app-drawer id="endDrawer" align="end"></app-drawer>


    </div>
  </template>

  <script>
    Polymer({
      is: 'jongeneel-layout',

      properties: {
        q: {
          type: String,
          value: "Hout"
        }
      }
    });
  </script>
</dom-module>